@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Pirata+One&family=Quicksand:wght@300;400;500;600;700&family=Kavivanar&display=swap");
  
body {
  background-image: url('https://iili.io/H1pBdJa.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #402A1F;
  font-family: "Kavivanar", sans-serif;
  margin-right: 5%;
  margin-left: 5%;
  line-height: 1;
}

code {
  /*background-color: #86AD41;
  */color: #402A1F;
  font-family: "Courier New", sans-serif;
  font-size: 1.2em;
  line-break: normal;
} 

details > summary {
  color: #402A1F;
  font-family: "Pirata One", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  padding: -5px;
  border: none;
  cursor: pointer;
}

details > p {
  color: #402A1F;
  padding: 4px;
  margin: 0;
  font-family: "Kavivanar", sans-serif;
}

.baslik {
  text-align: center;
  font-size: 3em;
  line-height: 0.9;
  font-family: "Pirata One", sans-serif;
  font-weight: 200;
  text-transform: capitalize;
  margin-top: 10%;
  margin-bottom: 10%;
}

.yanbaslik {
  line-height: 1;
  font-family: "Pirata One", sans-serif;
  font-weight: 200;
  text-transform: capitalize;
}

.kaynak {
  background-color: #86AD41;
  line-height: 0.7;
  text-align: right;
  color: #170503;
  text-decoration: none;
  font-family: "Kavivanar", sans-serif;
  font-weight: 200;
}

a {
  color: #402A1F;
  text-decoration: none;
  font-family: "Pirata One", sans-serif;
  /*font-weight: 900;
  */
}

img {
  max-width: 99%;
}

img[src*="#full-width"] {
  max-width: 98%;
  height: auto;
  max-height: 400px;
  width:auto;
  padding: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}


img[src*="#left"] {
  float: left;
  width: auto;
  max-width: 48%;
  Height: auto;
  max-height: 300px;
  padding: 1%;
  display: block;
  align-items: center; 
  margin-left: auto;
  margin-right: auto; 
}

img[src*="#right"] {
  float: right;
  width: auto;
  max-width: 48%;
  Height: auto;
  max-height: 300px;
  padding: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 
	
hr {
  background-color: #402A1F;
  border: none;
  height: 5px;
  margin-left: 0%;
  margin-right: 0%;
}

button.lamba {
  position: fixed;
  right: 1px;
  padding: 1px;
  font-size: 50px;
  border: none;
  background-color: transparent;
  /*padding: 15px 32px;*/
  text-align: right;
  text-decoration: none;
  display: inline-block;
  /*font-size: 16px;*/
  /*float: pull-right;*/
}

ul {
   list-style: none;
   } /* Remove default bullets */

li::before {
    content: "\â– ";
   /* Unicode bullet symbol */  /*color: pink;
  */  /* Bullet color */
	
	/* Optional tweaks */  /*font-weight: bold;
  */  /*padding-right: 10px;
  */
}

li {
  color: #262930;
   font-family: "Kavivanar", sans-serif;
  margin-top: 0%;
  margin-left: -12%;
  line-height: 1; 
}

.profile-pic {
  display: flex;
  align-items: center;
}

.profile-info {
  margin-left: 10%;
  margin-bottom: 0.1px;
  font-size:2em;
  padding: 1px;
  } 

.dark-mode {
  background-image: none;
  background-color: #272b31; !important
  color: #f0eaea;
}

.dark-mode p {
  font-family: Quicksand;
  color: #f0eaea;
}

.dark-mode code {
  background-color: #86AD41;
  color: #3E4043;
  font-family: "Courier New", sans-serif;
  font-size: 1.2em;
  line-break: normal;
} 

.dark-mode details, summary {
  color: #E8E8E8;
  font-family: "Quicksand", sans-serif;
  margin-left: 5px;
  margin-bottom: 0.1px;
}

.dark-mode p.baslik {
  text-align: center;
  font-size: 3em;
  line-height: 0.9;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-transform: capitalize;
  margin-top: 10%;
  margin-bottom: 10%;
}

.dark-mode p.yanbaslik {
  line-height: 0.8;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-transform: capitalize;
}

.dark-mode p.kaynak {
  background-color: #86AD41;
  line-height: 0.7;
  text-align: right;
  color: #3E4043;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.dark-mode a {
  color: #E8E8E8;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
	
.dark-mode hr {
  background-color: #E8E8E8;
  border: none;
  height: 5px;
  margin-left: 0%;
  margin-right: 0%;
}

.dark-mode li {
  color: #E8E8E8;
   font-family: "Quicksand", sans-serif;
  margin-top: 0%;
  margin-left: -12%;
  line-height: 1;
}

.dark-mode details > summary {
  color: #E8E8E8;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding: -5%;
  border: none;
  cursor: pointer;
}

.dark-mode details > p {
  color: #E8E8E8;
  padding: 4px;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.dark-mode .profile-info {
  margin-left: 10%;
  font-size:1.5em;
  font-weight: 100;
}

.dark-mode .profile-info > a {
  font-weight: 200;
}
