@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  background-color: #272b31;
}

p {
  color: #f0eaea;
  font-family: "Quicksand", sans-serif;
  margin-right: 5%;
  margin-left: 5%;
}

p.baslik {
  text-align: center;
  font-size: 3em;
  line-height: 0.8;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-transform: capitalize;
  margin-top: 10%;
  margin-bottom: 10%;
}

p.yanbaslik {
  line-height: 0.8;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-transform: capitalize;
}

p.kaynak {
  background-color: #fe45aa;
  line-height: 0.7;
  text-align: right;
  color: #e8e8e8;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

li {
  color: #262930;
  font-family: "Quicksand", sans-serif;
  margin-top: 0%;
  margin-right: 5%;
  line-height: 1;
}

a {
  color: #e8e8e8;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

img {
  max-width: 99%;
}
	
hr {
  background-color: #3E4043;
  border: none;
  width: 90%;
  height: 5px;
}

table, td, th, tr {
  border-top: 10px solid #3E4043;
  border-right: 10px solid #3E4043;
  border-left: 10px solid #3E4043; 
  border-radius: 10px;
  background-color: #3E4043;
  width: 70%;
  margin-left:5%;
  margin-right:5%;
  font-color: #e8e8e8;
  font-family: "Quicksand", sans-serif;
}
