* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.kraft-kagidi {
  width: 100%;
  height: 100vh;
  background-color: #e1d3b6;
  position: relative;
}

.kraft-kagidi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQYlWNgYGBg+P///2BgYGJjY8L8//9+GwAERmQUhyYoAAAAASUVORK5CYII=");
  background-repeat: repeat;
  opacity: 0.4;
}