* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.kraft-kagidi {
  width: 100%;
  height: 100vh;
  background-color: #e1d3b6;
  position: relative;
}

.kraft-kagidi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("http://www.transparenttextures.com/patterns/concrete-wall-2.png");
  background-repeat: repeat;
  opacity: 0.4;
}