body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

h1, p {
  margin: 20px;
}

#theme-toggle {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 60px;
  height: 30px;
  background-color: DeepPink;
  border-radius: 15px;
  cursor: pointer;
}

#theme-toggle-circle {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #161616;
  border-radius: 50%;
  top: 2.5px;
  left: 2.5px;
  transition: left 0.5s ease-in-out;
}

#theme-toggle.dark-mode #theme-toggle-circle {
  left: 32.5px;
}
