:root {
  --bg-color: #ffffff;
  --text-color: #2b2b2b;
  --accent-color: #007bff;
  --dark-mode-bg-color: #2b2b2b;
  --dark-mode-text-color: #ffffff;
  --dark-mode-accent-color: #007bff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.dark-mode {
  background-color: var(--dark-mode-bg-color);
  color: var(--dark-mode-text-color);
}

#theme-toggle {
  background-color: var(--accent-color);
  color: #ffffff;
}

#theme-toggle.dark-mode {
  background-color: var(--dark-mode-accent-color);
}

#theme-toggle-circle {
  background-color: var(--text-color);
}
