@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
	background-color: #E8E8E8;
	margin: 0 10vw 0 10vw;
}

p {
	font-family: Poppins;
	color: #434343;
	text-align: justify;
	text-align-last: left;
	justify-content: center;
	word-break: break-all;
	word-wrap: break-word; 
	word-spacing: normal;
	hyphens: auto;
  	-moz-hyphens: auto;
  	-webkit-hyphens: auto;
  	word-break: break-word;
  	-ms-word-break: break-all;
	  -webkit-hyphenate-character: '-';
}

ul { list-style: none; } /* Remove default bullets */

li::before {
    content: "\· "; /* Unicode bullet symbol */
    color: DeepPink;  /* Bullet color */
	/* Optional tweaks */
    /*font-weight: bold;*/
    /*padding-right: 10px;*/
}

li {
  font-family: "Poppins", sans-serif;
  margin: 0% 0 0 -10%; /*onemli*/
  line-height: 1;
}

baslik1 {
	font-family: Quicksand;
	font-size: 2em;
}