@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
body:not(.kaynak) {
  background-color: #e8e8e8;
  margin: 10vw 5vw 15vw 5vw;
  text-align: justify;
  text-align-last: left;
  justify-content: center;
  word-break: break-all;
  word-spacing: 0.5px;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;
  -ms-word-break: break-all;
  -webkit-hyphenate-character: "-";
}
h1,
h2,
h3,
h4 {
  text-align: justify;
  justify-content: center;
  word-break: break-all;
  word-spacing: 1px;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;
  -ms-word-break: break-all;
  -webkit-hyphenate-character: "-";
  margin: 10vw 5vw 15vw 0vw;
  border-bottom: 0;
  font-family: Quicksand;
  color: #86ad41;
  line-height: 10vw;
  word-spacing: 1px;
}
p:not(.kaynak) {
  font-family: Poppins;
  color: #434343;
  text-indent: 5vw;
}
a:not(.kaynak) {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #86ad41;
}
ul {
  list-style: none; /* Remove default bullets */
  text-indent: 0px;
  margin: 0 0 0 -7vw;
}
li::before {
  content: "\᛫ "; /* Unicode bullet symbol */
  color: #86ad41; /* Bullet color */ 
/* Optional tweaks */ /*font-weight: bold;*/ /*padding-right: 10px;*/
}
li {
  font-family: "Poppins", sans-serif;
  padding: -20vw 0 0 0; /*onemli*/
  line-height: normal;
  text-indent: 0px;
}
img {
  max-width: 90vw;
  margin-left: -5vw;
  text-indent: 0px;
}
hr {
  background-color: #86ad41;
  border: none;
  height: 5px;
  margin-left: 0%;
  margin-right: 0%;
}
mark {
  padding: 0.1vw 0.1vw 0.1vw 0.1vw;
  border-radius: 5px 5px 5px 5px;
}
mark1 {
  background-color: DeepPink;
  color: WhiteSmoke;
  padding: 0.1vw 0.1vw 0.1vw 0.1vw;
  border-radius: 5px 5px 5px 5px;
}
mark2 {
  background-color: #86ad41;
  color: WhiteSmoke;
  padding: 0.1vw 0.1vw 0.1vw 0.1vw;
  border-radius: 5px 5px 5px 5px;
}
.kaynak {
  background-color: #86ad41;
  text-indent: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  text-align: right;
	a:link { text-decoration: none; color: white; }
	a:visited { text-decoration: none; color: white; }
	a:hover { text-decoration: none; color: white; }
	a:active { text-decoration: none; color: white; }
}