ul { list-style: none; } /* Remove default bullets */

li::before {
    content: "\❖ "; /* Unicode bullet symbol */
    color: black;  /* Bullet color */
	
	/* Optional tweaks */
    /*font-weight: bold;*/
    /*padding-right: 10px;*/
}

li {
  color: black; 
  font-family: "Georgia", sans-serif;
  margin-top: 0%;
  margin-left: -2%;
  line-height: 1;
}