	@viewport {
		width: device-width;
	} 

	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
	
	body {
		background-color: #272b31;
	}

	p {
		color: #f0eaea;
		font-family: "Quicksand", sans-serif;
		margin: 0 5% 0 5%;
	}

	li {
		color: #262930;
		font-family: "Quicksand", sans-serif;
		margin: 0% 5% 0 0;
		line-height: 1;
	}

	a:link {
		color: #e8e8e8;
		text-decoration: none;
		font-family: "Poppins", sans-serif;
		font-weight: 900;
	}

	a:visited {
		color: #e8e8e8;
		text-decoration: none;
		font-family: "Poppins", sans-serif;
		font-weight: 900;
	} 

	a:hover {
		color: #e8e8e8;
		text-decoration: none;
		font-family: "Poppins", sans-serif;
		font-weight: 900;
	}

	a:active {
		color: #e8e8e8;
		text-decoration: none;
		font-family: "Poppins", sans-serif;
		font-weight: 900;
	}

	img {
		max-width: 99%;
	}

	table {
		float: center;
		margin: 0 0 0 5%;
	}

	tg {
		border: none;
		border-collapse: collapse;
		border-spacing: 0;
	}

	td {
		margin: 0 0 10% 0;
		border-style: solid;
		border-width: 0px;
		font-family: Arial, sans-serif;
		font-size: 14px;
		overflow: hidden;
		padding: 10px 5px;
		word-break: normal;
	}

	th {
		margin: 0 0 10% 0;
		border-style: solid;
		border-width: 0px;
		font-family: Arial, sans-serif;
		font-size: 14px;
		font-weight: normal;
		overflow: hidden;
		padding: 10px 5px;
		word-break: normal;
	}

	fash {
		color: WhiteSmoke;
		line-height: 0.8;
		font-family: "Poppins", sans-serif;
		alignment: center;
		font-weight: 200;
		font-size: 32px;
		text-transform: capitalize;
		margin-top: 10%;
		margin-bottom: 10%;
	}

	p.kaynak {
		background-color: #fe45aa;
		line-height: 1; 
		text-align: right;
		color: #e8e8e8;
		text-decoration: none;
		font-family: "Poppins", sans-serif;
		font-weight: 200;
		padding: 1% -25% 1% -20%;
		margin: 0 5% 0 0%;
	}